
.about-container{
    background: #0F0F10;
    /* box-shadow: 5px 5px 5px #111111, -5px -5px 5px #050505; */

}



.about1{
    display: flex;
    width: 100%;
   
}
.about{
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    padding: 10px;
}
.pic{
    width: 40%;
    margin: 50px;
}
.pic img{
    background: #565656;
    border-radius: 10px;
   
}
.about-desc{
    width: 60%;
    color: #ffffff;
    margin: 50px ;
    
}
