.contact-container{
    background-color: #2c0652;
    color: #ffffff;
}
.contact-title{
    color: #ffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    text-align: center;
    padding: 10px;
}
.contact-content{
    display: flex;
    justify-content: center;
    width: 100%;
    

}

.contacts{
    width: 50%;
    /* padding: 20px; */
    margin: 0 100px;
   
    /* justify-content: center; */
}
.contacts-title{
    font-size: 24px;
    padding: 0;
}
button[type="submit"]{
    background: #ffffff;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 50px;
}
button[type="submit"]:hover{
    color: #fff;
    background-color: #2c0652;
}
.contact-form{
    display: block;
    width: 50%;
    
}
.hire{
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
}
.hire:hover{
    color: white;
    font-weight: bold;
    background-color: #2c0652;
    border: 1px solid #fff;
}
form{
    display: flex;
    flex-direction: column;
    /* padding: 50px 0; */
}
.form-title{
    font-size: 24px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0A214F;
    background: rgba(255, 255, 255, 0.85);
}
textarea{
    width: 98%;
    border-radius: 5px;
    border: 2px solid #0A214F;
    background: rgba(255, 255, 255, 0.85);
}
form button{
    width: 73.5%;
    background: #2c0652;
    border: none;
    padding: 10px;
    border-radius: 50px;
}

@media (max-width: 768px) {

        .contact-content{
            width: 100%;
           display: flex;
           flex-direction: column;
           
           margin-top: -50px;
        }
        .contact-title{
            padding: 0;
        }
        .contacts{
            width: 90%;
            
            margin: 0 30px;
            
        }
        
         .contact-form{
            display: flex;
            flex-direction: column;
            width: 100%;

            
        }
        /* .hire{
            color: #000;
            background-color: #2c0652;
        } */
        form{
          width: 80%;
          margin-left: 30px;
        }
        
        form button {
         
           width: 100%;
        }
        .form-title{
            margin-left: 30px;
        }
       
        
}