
.container{
    display: flex;
    width: 100%;
    background-color: #2c0652;
    
}
.left-side{
    display: block;
    align-items: center;
    margin-top: 50px;
    margin: 80px;
    width: 60%;
}
.wave{
    width: 100%;
    margin-top: -120px;
    position: relative;
}
.pacc{
    color: rgb(97, 106, 187);
}
.right-side{
    width: 50%;
}
.right-side img{
    display: flex;
    position: relative;
    margin-top: 20px;
}
h2{
    /* margin-top: -5px; */
    color: White;
    font-size: 48px;
}
.desc{
    color: #868585;
    margin: 30px;
}
.cv{
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {        
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
    }
    .left-side{
        width: 100%;
        margin: 0;
        
    }
    .left-side h2{
        font-size: 36px;
        text-align: center;
    }
    .left-side button{
        margin-left: 130px;
    }
    
    .right-side{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wave{
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }
    
}
